image*
*.xml
*.pyc
maps
cosmo_from_icon
data
LPI
LPI_
updates
.idea/
__pycache__/
lib/__pycache__/
nohup.out
test/
test2_2/
test3/
test4/
test5/
test_local2_2/
test_local6_6/
async.py
meteogramms.py
run_cosmo2.py
run_cosmo2_lhn.py
run_cosmo6.py
run_local.py
